<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oncolyticnet</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/test.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/newjs.js') }}" type="text/javascript"></script>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='logo.png') }}" class="navbar-brand" style="height: 50px; margin-right: 5px;">Oncolyticnet</a>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer class="navbar navbar-dark bg-dark" style="position: fixed; left: 0; bottom: 0; width: 100%; display: flex; justify-content: center; align-items: center;">
    <p style="color: white;">&copy; <span id="currentYear"></span> Oncolyticnet</p>
    </footer>

    <script>
        document.getElementById('currentYear').textContent = new Date().getFullYear();
    </script>
</body>


</html>
